[Desktop Entry]
Encoding=UTF-8
Name=Link to Sync | thomas
Type=Link
URL=http://127.0.0.1:8888/gui/
Icon=/home/thomas/tmp/bts.png
Name[en_US]=\s\s\s\s\s\s\s
