[Desktop Entry]
Name=AutoREALM
Exec=env WINEPREFIX="/home/thomas/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/thomas/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/AutoREALM/AutoREALM.lnk
Type=Application
StartupNotify=true
Icon=B85F_autorealm.0
