#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=PowerPoint Online
Exec=/usr/bin/chromium --profile-directory=Default --app-id=mdafamggmaaaginooondinjgkgcbpnhp
Icon=chrome-mdafamggmaaaginooondinjgkgcbpnhp-Default
StartupWMClass=crx_mdafamggmaaaginooondinjgkgcbpnhp
