#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=TES Teach with Blendspace
Exec=/usr/bin/chromium --profile-directory=Default --app-id=agbdildaaolbagmahkbhgalikckjkjoi
Icon=chrome-agbdildaaolbagmahkbhgalikckjkjoi-Default
NoDisplay=true
StartupWMClass=crx_agbdildaaolbagmahkbhgalikckjkjoi
