#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Vernier Graphical Analysis
Exec=/usr/bin/chromium --profile-directory=Default --app-id=dncgedbnidfkppmdgfgidcepclnokpkb
Icon=chrome-dncgedbnidfkppmdgfgidcepclnokpkb-Default
NoDisplay=true
StartupWMClass=crx_dncgedbnidfkppmdgfgidcepclnokpkb
