#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Kami - PDF and Document Markup
Exec=/usr/bin/chromium --profile-directory=Default --app-id=iljojpiodmlhoehoecppliohmplbgeij
Icon=chrome-iljojpiodmlhoehoecppliohmplbgeij-Default
NoDisplay=true
StartupWMClass=crx_iljojpiodmlhoehoecppliohmplbgeij
