#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=BrowserStack Local
Exec=/usr/bin/chromium --profile-directory=Default --app-id=mfiddfehmfdojjfdpfngagldgaaafcfo
Icon=chrome-mfiddfehmfdojjfdpfngagldgaaafcfo-Default
NoDisplay=true
StartupWMClass=crx_mfiddfehmfdojjfdpfngagldgaaafcfo
