#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Journey (Diary, Journal)
Exec=/usr/bin/chromium --profile-directory=Default --app-id=jlncjaehedpdoinepaejmlpbmdkgmpog
Icon=chrome-jlncjaehedpdoinepaejmlpbmdkgmpog-Default
NoDisplay=true
StartupWMClass=crx_jlncjaehedpdoinepaejmlpbmdkgmpog
