#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Reditr Web App - The Best Reddit Client
Exec=/usr/bin/chromium --profile-directory=Default --app-id=ejmiceoebcclihjdpnmmkdcmcboekibc
Icon=chrome-ejmiceoebcclihjdpnmmkdcmcboekibc-Default
NoDisplay=true
StartupWMClass=crx_ejmiceoebcclihjdpnmmkdcmcboekibc
