[Desktop Entry]
Type=Application
Name=notepad
MimeType=application/x-wine-extension-rul;
Exec=env WINEPREFIX="/home/thomas/.wine" wine start /ProgIDOpen txtfile %f
NoDisplay=true
StartupNotify=true
Icon=1E64_notepad.0
