[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-fds;
Exec=env WINEPREFIX="/home/thomas/.wine" wine start /ProgIDOpen Final\\ Draft.Secure\\ Document %f
NoDisplay=true
StartupNotify=true
